.section_text {
    display: flex;
    justify-content: center;
   /*border: 3px solid red;*/
}

.text {
    margin: 0 auto;
    font-family: 'Inter', sans-serif; /* ะก Google Fonts */
    font-weight: 400;
    font-size: 48px;
    text-align: center;
}



.namber {
    /*border: 3px solid red;*/
    font-family: 'Inter', sans-serif; /* ะก Google Fonts */
    font-weight: 400;
    font-size: 64px;
    text-align: center;
}
