

/*Файл где писал изначально, но щас он не нуен так как все по папкам разбросал*/



.body {
    max-width: 1512px;
    margin: 0 auto;

}




.header {
max-width: 1512px;
display: flex;
justify-content: center;
/*border: 3px solid red;*/
margin: 0 auto;
margin-bottom: 250px;
}

.header_slovo {
    font-family: 'Inter', sans-serif; /* С Google Fonts */
    font-weight: 400;
    text-decoration: underline;
    font-size: 24px;
    border: none;           /* 🚫 Убирает рамку */
    outline: none;         /* 🚫 Убирает обводку фокуса */
    background: none;     /* 🚫 Убирает фон */
}






.section_text {
    display: flex;
    justify-content: center;
   /*border: 3px solid red;*/
}

.text {
    margin: 0 auto;
    font-family: 'Inter', sans-serif; /* С Google Fonts */
    font-weight: 400;
    font-size: 48px;
    text-align: center;
}



.namber {
    /*border: 3px solid red;*/
    font-family: 'Inter', sans-serif; /* С Google Fonts */
    font-weight: 400;
    font-size: 64px;
    text-align: center;
}





.clicker {
    /*border: 3px solid red;*/
    font-family: 'Inter', sans-serif; /* С Google Fonts */
    text-align: center;
    margin: 0 auto;
    
}
.plus {
    width: 270px;
    height: 92px; 
    font-size: 32px;

}
.min {
    width: 270px;
    height: 92px;
    font-size: 32px;
}