
.clicker {
    /*border: 3px solid red;*/
    font-family: 'Inter', sans-serif; /* ะก Google Fonts */
    text-align: center;
    margin: 0 auto;
    
}
.plus {
    width: 270px;
    height: 92px; 
    font-size: 32px;

}
.min {
    width: 270px;
    height: 92px;
    font-size: 32px;
}