.header {
max-width: 1512px;
display: flex;
justify-content: center;
/*border: 3px solid red;*/
margin: 0 auto;
margin-bottom: 250px;
}

.header_slovo {
    font-family: 'Inter', sans-serif; /* С Google фонтс */
    font-weight: 400;
    text-decoration: underline;
    font-size: 24px;
    border: none;           /* Убирает рамку */
    outline: none;         /* Убирает обводку фокуса */
    background: none;     /* Убирает фон */
}